# Core libraries
numpy==1.26.4
pandas==2.2.2

# Embedding & Transformers
sentence-transformers==3.1.1
transformers==4.41.2

# Retrieval
faiss-cpu==1.8.0

# Evaluation metrics
nltk==3.9.1
bert-score==0.3.13
rouge-score==0.1.2

# OpenAI API
openai==1.45.0
python-dotenv==1.0.1

# Utility
tqdm==4.66.5
scikit-learn==1.5.2
pyyaml==6.0.2
